# Port untuk web server
PORT=3232

# Host IP bind (gunakan 0.0.0.0 untuk public/VPS, atau 127.0.0.1 untuk local)
HOST=0.0.0.0

# Aktifkan mode debug untuk melihat log lebih detail
# DEBUG=true

# Environment aplikasi (development / production)
# NODE_ENV=production
